/* ::selection { */
/* 	background-color: #FF8D3C; */
/* 	color: white; */
/* } */

/* @import url("https://use.typekit.net/iwg5jvw.css"); */



@import url("https://p.typekit.net/p.css?s=1&k=dpa0bsm&ht=tk&f=15700.15701.15702.15703.15704.15705.15706.15707.15708.15709.22707.22708.22709.22710.22711.22736.22741.22742&a=5574&app=typekit&e=css");
@import url("../media/lato_font.css");

::-moz-selection {
	background-color:#d4ecff
}
::selection {
	background-color:#d4ecff
}

body {
	/* font-family: "lato",sans-serif; */ 
	font-family: "Nunito";
    color: #21242c;
}


* {
	box-sizing: border-box;
	--grey: #898989;
}

header {
	position: fixed;
	background: rgba(255, 255, 255, 1.00);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	height: 3em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer {
	width: 100%;
	border-top: .125rem solid #e7eaec;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	/* margin-top: 10rem; */
}

header > p {
	font-weight: 600;
	color: var(--blue);
	padding: 0.5em;
}

header > img {
	border-radius: 8px;
}

p {
	font-family:  "lato", sans-serif;
	/* font-family: droid-serif; */
	/* font-weight: 300; */
	line-height: 1.55rem;
	color: rgb(61, 61, 78);
}


button {
	font-family: "Nunito";
	font-size: .9375em;
	border-radius: .25rem;
	border-width: 0;
	display: flex;
	color: rgb(0, 0, 0, 0.75);
	align-items: center;
	justify-content: center;
	font-weight: 400;
	line-height: 1.5;
	padding: .45rem;
	/* padding-left: 0.75rem; */
	letter-spacing: .025em;
	white-space: nowrap;
	transition-duration: .2s;
	background-color: transparent;
	font-weight: 700;
}

button:focus {
	outline: none;
}

button:hover {
    background-color: rgba(229,229,229,1);
}

.text-base {
	/* font-family: "Nunito"; */
	font-family: "lato";
	color: #21242c;
	line-height: 1.35rem;
}

#root {
	font-size: 18px;
	margin: 0px;
	box-sizing: border-box;
	--orange: #FF8D3C;
	--blue: #007bff;
}

#ContainerWrapper {
    display: flex;
    min-height: 100vh;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
	flex-flow: row nowrap;
}


.main-page {
	display: flex;
	flex-direction: row;
	box-shadow: 0px -16px white;

}

.content-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* margin-left: 300px; */
}



.rounded-full {
	border-radius: 9999px;
}

.rounded-main {
	border-radius: 20px;
}

.rounded-secondary {
	border-radius: 6px;
}

.input-bar:focus {
	border-color: #66afe9;
	outline: 0;
	box-shadow: none;
	appearance: none;

}

.header-content {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: rgba(122, 74, 224, 0.76);
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* @media (min-width: 400px) */
/* { */
/* 	.header-content { */
/* 		font-size: 3.5rem; */
/* 		padding-top: 2.5rem; */
/* 		padding-bottom: 2.5rem; */
/* 	} */

/* } */

.highlighter {
	background-color: rgba(255, 141, 60, 0.2);
	border: 3px solid #FF8D3C;
	border-radius: 16px;
	display: flex;
	flex-direction: row;
	padding: 15px;
	width: 350px;
	margin: 20px 20px 20px 0px;
}

.top-navigation {
	z-index: 1000;
}

.ml-300 {
	margin-left: 300px;
}

.base-footer {
	max-width: 950px;
	/* display: grid; */
	/* grid-template-columns: 13.625rem auto 3.25rem; */
	/* grid-template-rows: auto auto; */
	/* grid-template-areas: */ 
	/* "navigation navigation navigation" "info info info"; */

	/* max-width: 75rem; */
	padding: 3rem 2.5rem 1.5rem;
}

.logo-area {
	grid-area: "logo";
}

.navigation-area {
	grid-area: "navigation";

	grid-column-start: navigation;
	grid-column-end: navigation;
}

.social-area {
	grid-area: "social";
}

.info-area {
	grid-area: "info";
	grid-column-start: info;
	grid-column-end: info;
}

.content-base > * {
	font-family: "lato";
    color: #21242c;
	line-height: 1.5rem;
}

.inline-code {
    background: rgba(250, 239, 240, 0.78);
    color: #b44437;
    padding: 3px 4px;
    border-radius: 5px;
    margin: 0 1px;
    font-family: inherit;
    font-size: 0.86em;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.paragraph {
    color: #21242c;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
    margin-top: 0;
}

.base-link {
	margin-bottom: 0.5rem;

}

.ce-paragraph {
	line-height: 1.5rem;
}

.main-font {
	font-family: "lato";
}

.secondary-font {
	font-family: "Nunito";
}

.right-sticky {
    width: 100%;
    display: flex;
    flex-direction: column;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: center;
    align-items: center;
    min-width: 230px;
    margin-bottom: 3rem;
    top: calc(105px);
    position: sticky;
}

.borders-grey {
	border: 1px solid #E1E1E1;
}

.button-borders {
	border: 1px solid #E1E1E1;
	border-radius: 6px;
	padding: .375rem 1rem;
	/* min-width: 10rem; */
}

button.button-borders:hover {
	/* border: 1px solid #21242c; */
	border-color: rgba(32,32,51,0.4);
	background-color: #F5F5F5;
	transition: all 0.2s ease-in-out;
}

.floating {
	box-shadow: 0 0.35rem 1.125rem rgba(0,0,0,.15);
}

.orange-back {
	background-color: #fc9851;
}

.content-base ul li::before {

    content: "";
    display: block;
    position: absolute;
	margin-top: 7.5px;
    /* top: 1rem; */
    left: 22px;
    width: 8px;
    height: 8px;
    background-color: #FF8D3C;
    border-radius: 50%;
    transform: translateY(50%);
    /* box-shadow: 0 4px 9px -1px #FF8D3C; */

}
.codex-editor__redactor {
	margin-right: 0px;
}

.content-base ul {
    list-style: none;
}

.modal-overlay {
	display: flex;
	-moz-box-pack: end;
	justify-content: flex-end;
	position: fixed;
	inset: 0px;
	/* background-color: rgba(0, 0, 0, 0.4); */
	background-size: contain;
	align-items: center;
	z-index: 1000;
	overflow: hidden auto;
}

.modal-overlay-left {
	display: flex;
	-moz-box-pack: end;
	justify-content: flex-start;
	position: fixed;
	left: 0;
	top: 3em;
	bottom: 0;
	/* background-color: rgba(0, 0, 0, 0.4); */
	background-size: contain;
	align-items: center;
	z-index: 1000;
	overflow: hidden auto;
}

.modal-window {

	box-shadow: 0 0.35rem 1.125rem rgba(0,0,0,.35);
	width: 435px;
	/* padding: 20px 10px; */
	position: relative;
	background-color: rgb(255, 255, 255);
	height: 100%;
	overflow-y: auto;

	transform: translateX(435px);
	transition: all 0.4s ease-in-out;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
	background-color: rgba(0, 0, 0, 0.4);
	background-size: contain;
	z-index: 1000;
  }

.blocker-2 {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 435px;
    content: ' ';
	background-size: contain;
	z-index: 1001;
  }


.balance-button {
	background-image: url("../img/forms/back-grd.svg");
}
