
.search-bar {
	display: flex;
	-moz-box-align: center;
	align-items: center;
	flex: 1 1 45px;
	height: 45px;
	flex-wrap: nowrap;
	border-radius: 10px;
	border: 1px solid #DDDDDD;
	padding: 0px 10px 0px 20px;
	max-width: 750px;

}

.input-bar {
	background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
	color: #DDDDDD;
	font-family:  "Nunito";
	font-weight: bold;
	padding: 5px 0px;
	box-shadow: none;
	border: medium none;
	border-radius: 0px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}
